body {
    font-family: 'Trebuchet MS';
    color: darkgray;
    background-color: rgb(144, 174, 173);
   
}

.textbox {
    height: 590px;
    width: 1690px;
}

.intro {
    margin-top: -20px;
    display: flex;
    margin-left: -10px;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS';
    background-color: rgb(36,72,85);
    /* padding-left: 140px;
    padding-bottom: 100px;
    padding-top: 80px;
    padding-right: 30px; */
    /* padding-right: 140px; */
    /* color: darkgray; */
    font-size: 30px;
    width: 1690px;
    height: 400px;
}

.sidebar {
    display: block;
    margin-left: 150px;
    position: relative;
    bottom: 300px;
}

.name {
    display: block;
    font-weight: 400;
    color: whitesmoke;
    font-size: 40px;
    margin-left: 80px;
    margin-top: 70px;
    word-wrap: wrap;
    padding-right: 30px;
}

#position {
    font-weight: 400px;
    color: whitesmoke;
    font-size: 30px;
    position: relative;
    right: 243px;
    top: -10px;
    margin-top: 140px;
    margin-left: 0px;
}

#me {
    height: 240px;
    width: 230px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 60px;
}

p{
    margin-bottom: -65px;
}

.icons {
    height: 30px;
    width: 30px;
    padding-left: 5px;
    border-radius: 20%;
}

#signature {
    margin-left: 700px;
    height: 90px;
    width: 290px;

}

#college {
    color: whitesmoke;
    margin-left: 700px;
    font-size: 25px;
    margin-top: 10px;
}

.icon-links {
    margin-left: 435px;
    margin-bottom: 30px;
    position: relative;
    bottom: 240px;
    right: 78px;

}

.location {
    display: inline;


}

h4,h3, h2 {
    font-weight: 100;
    color: rgb(36,72,85);
    margin-bottom: 15px;
    
}

#resume {
    color: rgb(230,72, 51);
}

.body-desc {
    border-radius: 12px 12px 12px 12px;
    border: 1px rgb(251, 233, 208) solid;
    width: 60%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    background-color: rgb(251, 233, 208);
    margin-left: 40px;
    color: rgb(36,72,85);
    font-weight: 100;
}

.bio {
    border-radius: 12px;
    border: 1px rgb(251, 233, 208) solid;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: -120px;
    height: 150px;
    color: lightgreen;
    background-color: rgb(251, 233, 208);
    
}

.align {
    width: 100%;
    background-color: rgb(144, 174, 173);
    margin-right: 130px;
    position: relative;
    bottom: 250px;
    display: inline-flex;
    column-count: 2;
}

#skills {
    border-radius: 12px;
    border: rgb(135, 79, 65) 1px solid;
    background-color: rgb(135, 79, 65);
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: darkgray;
    font-weight: 700;
    width: 100%;
    margin-left: -31px;
    padding-top: 15px;

}

#tab {
    color: skyblue;
    background-color: rgb(144, 174, 173);
    margin-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    margin-right: 90px;
    margin-left: -40px;
    padding-right: 40px;
    width: 100%;
    
}

.projects {
    border-radius: 12px;
    border: 1px solid rgb(251, 233, 208);
    font-size: 30px;
    background: rgb(251, 233, 208);
 

}

.photo-project {
    height: 250px;
    width: 300px;
    margin-top: 20px;
    position: relative;
    left: 5px;
}

.photo-project-1 {
    height: 250px;
    width: 180px;
}

#latest {
    text-align: center;
    font-size: 25px;
    padding-bottom: 5px;
    color: rgb(36,72,85);
}

#file {
    width: 400px;
}

.text {
    font-size: 20px;
    display: block;
    text-align: center;
    color: royalblue;
}

video {
    text-align: center;
    margin-left: 0px;
}

.grid-container{
    /* margin: -20px;
    margin-left: -53px;
    margin-right: -53px; */
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 45px;


}

.grid-item {
    border : 1px solid rgb(144, 174, 173);
    padding: 15px;
    text-align: center;
    opacity: 1;
   
}

.grid-item:hover {
    opacity: .8;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: rgb(36,72,85);
}

progress {
    margin-top: -60px;
    font-size: 15px;
}

progress[value] {
    --color: rgb(36,72,85); 
    --background: lightgrey; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 370px;
    margin-top: -20px;
    padding: -10px;
   
    background: var(--background);
  }
  progress[value]::-webkit-progress-bar {

    background: var(--background);
  }
  progress[value]::-webkit-progress-value {
    
    background: var(--color);
  }
  progress[value]::-moz-progress-bar {
    
    background: var(--color);
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 20px 0;
  }



.progress {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 20px;
    color: rgb(230, 72, 51)
}

#progress {
    text-align: left;
    color: red;
}

#skills {
    width: fit-content;
    font-size: 20px;
    margin-bottom: -25px;
    background-color: rgb(251, 233, 208);
    border-color: rgb(251, 233, 208);
    color: rgb(36,72,85);
}

#center {
    text-align: center;
}

#leetcode {
    width: 200px;
    height: 120px;

}

.leetcode {
    border-radius: 12px;
    border: 1px solid rgb(251, 233, 208);
    background-color: rgb(251, 233, 208);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 10px;
    position: relative;
    left: -32px;
    top: 20px;
    width: 382px;
    margin-top: 25px;
    margin-right: 0px;


}



.sidebar {
    display: block;
    
}

#box {
    width: 450px;
    padding-right: -30px;
}

#content {
    line-height: 300px;
}

#progress2 {
    color: royalblue;
}

@media only screen and (min-device-width : 320px ) and (max-device-width: 480px) {

    body {
        font-family: 'Trebuchet MS';
        color: darkgray;
        background-color: rgb(144, 174, 173);
    }

    .sidebar {
        display: none
    }

    a {
        margin-left: -100px;
        height: 80px;
        margin-top: 20px;
        height: fit-content;
    }
    .intro {
        /* flex-wrap: wrap; */
        display: block;
        padding-top: 80px;
        font-family: 'Trebuchet MS';
        background-color: rgb(36,72,85);
        height: 300px;
        width: 750px;
    }

    #me {
  
        height: 150px;
        width: 150px;
        margin-top: 0px;
    }

    .icon-links {
        display: flex;
        flex-direction: column;
        background-color: rgb(36,72,85);
    
    }

    .textbox {
        background-color: rgb(36,72,85);
        height:300px;
        width: 400px;
    }
    .icons {
        width: 45px;
        height: 45px;
        border-radius: 12px;
    }
    .name {
        margin-top: -135px;
        margin-left: 255px;
    }

    #position {
        margin-left: 500px;
        margin-top: 40px;
        font-size: 25px;
        flex-wrap: wrap;
        width: 20%;
        
    }

    .projects {
        width: fit-content;
        columns: 200px;
        display: flex;
        flex-direction: column;

    }

    .align {
        position: relative;
        bottom: 220px;
        display: flex;
        flex-direction: column;
        
    }

    .img {
        width: 80px;
        height: 80px;
    }

    .video {
        width: 80px;
        height: 80px;
    }

    .body-desc {
        margin-left: 20px;
        width: 430px;
    }

    #box {
        margin-left: 20px;
    }

    .grid-container {
        width: 450px;
        display: flex;
        flex-direction: column;
        text-align: center;
       
    }

    .grid-item {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border : 1px solid rgb(144, 174, 173);
    text-align: center;
    opacity: 1;
    }
    #content, 
    #progress2 {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
}

    .link-to-proj {
        display: flex;
        margin-left: 20px;
        justify-content: center;
    }

}

@media(max-width:670px) { 
    .icon-links {
        margin-left: 300px !important;
        position: relative !important;
        bottom: 400px !important;
        left: 353px !important;
        display: flex;
        flex-direction: column;
    
    }

    .icons {
        width: 30px;
        height: 30px;
        border-radius: 12px;
    }

}
